.usuarios-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.usuario-box {
    border: 1px solid #ccc;
    padding: 10px;
    width: 350px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.pagos-table {
    width: 100%;
    border-collapse: collapse;
}

.pagos-table th, .pagos-table td {
    border: 1px solid #999;
    padding: 5px;
    text-align: center;
}


span.pagado {
    color: green;
    font-weight: bold;
}

span.pendiente {
    color: red;
    font-weight: bold;
}

